@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$white:#FFFFFF;
$honeydew:#F1FFE7;
$tangerine-yellow:#FFCD00;
$licorice:#141414;
$whiteish: #F0F0F5;

$new-blue:#5393B2;
$grey-blueish:#A6BDCA;
$wengue:#75574D;

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$section-padding: 1rem;
$footer-padding: 1rem 1.5rem;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";

body {
    min-height: 100vh;
    background-color: #E6E8E6;
    color:$licorice;
}


hr.styled {
    border: 0;
    height: 0.5px;
    background: #363636;
}
.city {
    color:$licorice;
    font-size: 2rem;
}

.bold {
    font-weight: bold !important;
}

.bigTemp {
    font-size: 5rem;
}

.currentDay {
    padding: 10px;
    background-color: rgba(255,255,255,1);
    color:$licorice;
}

.info {
    font-size: 0.75rem;
}

.description{
    color:$licorice;
}

.weather {
    display:block;
}

.weather-details {
    background-color: rgba(255,255,255,0.50);
    color:$licorice;
}

.weather-details-data {
    display: inline-block;
    padding:10px;
}

.footer {
    position: absolute;
    bottom:-200px;
    width: 100%;
    border-top:5px solid #3FA34D;
    background-color: $wengue;
    
    p {
        color:$white;
        font-weight: normal;

        a {
            color:$white;

            &:hover {
                font-weight:bold;
            }
        }
    }
}

//weather status classes
.weather-night {
    background-color: darken(#E6E8E6, 80%);

    .title, .city, .bigTemp, .description, .info {
        color: $white;
    }
}