@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$white:#FFFFFF;
$black:#000000;
$blue-crayola: #1D71F2;
$button-blue:#1C9CF6;
$disco-ball:#19C3FB;
$bubbles:#E3F4FE;
$cornsilk:#FFFAE0;
$tangerine-yellow:#FFCD00;
$licorice:#141414;

$new-blue:#5393B2;
$grey-blueish:#A6BDCA;

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$section-padding: 1rem;
$footer-background-color:$tangerine-yellow;
$footer-color:$white;
$footer-padding: 3rem 1.5rem;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";

body {
    min-height: 100vh;
    background: linear-gradient($grey-blueish, $new-blue);
    color:$licorice;
}

hr.styled {
    border: 0;
    height: 0.5px;
    background: #363636;
}

.bold {
    font-weight: bold !important;
}

.bigTemp {
    font-size: 5rem;
}

.currentDay {
    padding: 10px;
    background-color: rgba(255,255,255,1);
}

.info {
    font-size: 0.75rem;
}

.description p:nth-child(2n) {
    color:lighten($licorice, 20%)
}

.weather {
    background-color:blue;
    display:block;
}

.weather-details {
    background-color: rgba(255,255,255,0.50);
}

.weather-details-data {
    display: inline-block;
    padding:10px;
}

.spacer {
    border-bottom: 1px solid black;
    display:block;
}
