@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$white:#FFFFFF;
$black:#000000;
$blue-crayola: #1D71F2;
$button-blue:#1C9CF6;
$disco-ball:#19C3FB;
$bubbles:#E3F4FE;
$cornsilk:#FFFAE0;
$tangerine-yellow:#FFCD00;

// Update Bulma's global variables
$family-sans-serif: 'Montserrat', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color:$cornsilk;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$section-padding: 1rem;
$table-background-color: $pink;
$table-head-background-color: lighten($blue-crayola,30%);
$table-body-background-color:darken($bubbles, 10%);
$table-striped-row-even-background-color:$bubbles;
$table-striped-row-even-hover-background-color: lighten($blue-crayola,30%);
$table-row-hover-background-color:lighten($blue-crayola,30%);
$table-head-cell-color:$white;
$table-cell-border:0;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";

hr.styled {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title {
    font-weight: normal;
}

.bold {
    font-weight: bold !important;
}

.temp {
    font-size: 4rem;
}

.desc {
    text-align: left;
}

.info {
    font-size: 0.75rem;
}

